<div class="footer">
    <p>Prices & menu subject to change without notice.<br>Copyright © Antonelli's | Site design & images copyright © Grande Cheese Company. All rights reserved.</p>
</div>
</body>
</html>