
    <div class="store-info">
        <h2>703-690-4500</h2>
        <h3>8212 Gunston Corner Lane | Lorton, VA 22079</h3>
        <h2>Carry-Out | Dine-In | Delivery</h2>
        <h4>Find Us!</h4>
    </div>
    <div class="intro">
        <h3>Welcome to Antonelli's</h3>
        <p>Antonelli’s, a family owned & operated establishment which opened in 2007, prides itself in serving the finest meals using the freshest ingredients always; some of which include extra virgin olive oil, freshly sliced meats, romaine lettuce for all of our salads, and Grande© cheese, the most expensive cheese in the market. In addition, we provide our customers with very generous portions, and offer the superior service that you may fail to receive when ordering from a chain. "From our sauces, to pizza dough, to select dressings and desserts-all made from scratch; we offer an exceptional tasting home-made meal that’s made away from home."</p>
    </div>
    <div class="hours">
        <h2>HOURS</h2>
        <h4>Sun-Thurs: 11am-10pm</h4>
        <h4>Fri & Sat: 11am-11pm</h4>
        <ul>
            <li>Last order 15 minutes before closing</li>
            <li>$10.00 minimum for delivery</li>
            <li>Delivery charge may apply</li>
        </ul>
    </div>
    <div class="contact">
        <h3>Antonelli's would love to hear from you!</h3>
        <p>Please feel free to submit questions, compliments, suggestions, or complaints to antonellis-pizza@hotmail.com</p>
        <h5>703-690-4500</h5>
    </div>
</body>
</html>