<div class="app-outer-container">
  <%- include('./partials/header') %>
  <div class="app-inner-container">
    <div class="sidebar">
      <div>
        <h4>Welcome to Antonelli's</h4>
        <p>
          Antonelli’s, a family owned & operated establishment which opened in
          2007, prides itself in serving the finest meals using the freshest
          ingredients always; some of which include extra virgin olive oil,
          freshly sliced meats, romaine lettuce for all of our salads, and
          Grande© cheese, the most expensive cheese in the market. In addition,
          we provide our customers with very generous portions, and offer the
          superior service that you may fail to receive when ordering from a
          chain. "From our sauces, to pizza dough, to select dressings and
          desserts-all made from scratch; we offer an exceptional tasting
          home-made meal that’s made away from home."
        </p>
      </div>

      <div>
        <h5>HOURS</h5>
        <h6>Sun-Thurs: 11am-10pm</h6>
        <h6>Fri & Sat: 11am-11pm</h6>
        <ul>
          <li>Last order 15 minutes before closing</li>
          <li>$10.00 minimum for delivery</li>
          <li>Delivery charge may apply</li>
        </ul>
      </div>

      <div>
        <h4>Antonelli's would love to hear from you!</h4>
        <p>
          Please feel free to submit questions, compliments, suggestions, or
          complaints to antonellis-pizza@hotmail.com
        </p>
        <h6>703-690-4500</h6>
      </div>
    </div>

    <div class="main-content">
      <div class="slideshow">
        <img class="mySlides" src="/images/pic1.jpg" />
        <img class="mySlides" src="/images/pic2.jpg" />
        <img class="mySlides" src="/images/pic3.jpg" />
      </div>
      <div>
        <h3>703-690-4500</h3>
        <h4>8212 Gunston Corner Lane | Lorton, VA 22079</h4>
        <h3>Carry-Out | Dine-In | Delivery</h3>
        <h5>Find Us!</h5>
      </div>
      <div>
        <iframe
          src="https://maps.google.com/maps?q=8212+Gunston+Corner+Lane+Lorton,+VA+22079&amp;hl=en&amp;sll=38.705364,-77.22862&amp;sspn=0.010583,0.026157&amp;hnear=8212+Gunston+Corner+Ln,+Lorton,+Virginia+22079&amp;t=m&amp;ie=UTF8&amp;hq=&amp;ll=38.705339,-77.228651&amp;spn=0.038513,0.036478&amp;z=14&amp;iwloc=A&amp;output=embed"
          frameborder="0"
          marginwidth="0"
          marginheight="0"
          scrolling="no"
        ></iframe>
      </div>
      <div>
        <a
          href="https://www.google.com/maps/place/8212+Gunston+Corner+Ln,+Lorton,+VA+22079/@38.705339,-77.228651,14z/data=!4m5!3m4!1s0x89b653635246aaab:0x8c610d549275831e!8m2!3d38.7059792!4d-77.2287723?hl=en"
          >View Larger Map</a
        >
      </div>
    </div>
  </div>
  <%- include('./partials/footer') %>
</div>
