$border-radius: 1rem;
$border: 1px solid rgb(0, 113, 62);
$box-shadow: 0rem 0.1rem 0.25rem 0rem black;

$colors: (
  orange: rgb(222, 143, 34),
  red: rgb(145, 42, 43),
  brown: rgb(58, 39, 25),
  green: rgb(0, 113, 62),
  tan: rgb(251, 233, 202),
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

// boilerplate template
.app-outer-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0;
  margin: 0;
  .app-inner-container {
    display: flex;
    flex-grow: 1;
    background-color: color(tan);
    .sidebar,
    .store-info {
      display: flex;
      flex-direction: column;
    }
  }
}

// navbar
.navbar {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  padding: 0;
  height: 8rem;
  background-color: color(red);
  a {
    color: white;
    margin: 1rem;
    &:hover {
      text-decoration: none;
    }
  }
  img {
    position: absolute;
    top: 5;
    left: 0;
    height: 7.5rem;
    width: 9rem;
  }
  .upper-nav,
  .lower-nav {
    display: flex;
    width: 100%;
    list-style: none;
    align-items: center;
  }
  .upper-nav {
    justify-content: flex-end;
    height: 4rem;
    .login-container {
      color: white;
      display: flex;
      margin-right: 1rem;
    }
  }
  .lower-nav {
    justify-content: space-evenly;
    height: 4rem;
    background-color: black;
    .button-container {
      display: flex;
      padding-left: 15rem;
      .button {
        height: 4rem;
        cursor: pointer;
        padding: 0.5rem;
        background-color: black;
        color: white;
        font-size: 2rem;
        text-align: center;
        width: 20rem;
        &:hover {
          background-color: rgba(100, 100, 100, 0.2);
          font-size: 2.1rem;
        }
      }
    }
  }
}

// sidebar
.sidebar {
  width: 25rem;
  padding: 1rem;
  justify-content: space-evenly;
  h4 {
    font-family: 'Berkshire Swash', cursive;
    color: color(green);
    font-size: 2rem;
  }
  h5 {
    color: color(red);
    font-weight: bold;
  }
  h6 {
    font-weight: bold;
  }
  p {
    font-size: 0.9rem;
  }
  div {
    text-align: center;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: white;
    border: $border;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
  }
}

// home page main content
.main-content {
  width: 100%;
  h3 {
    color: color(red);
    font-weight: bold;
  }
  h4,
  h5 {
    color: color(green);
    font-family: 'Baloo 2', cursive;
  }
  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    iframe {
      width: 500;
      height: 500;
    }
  }
}

// footer
.footer {
  display: flex;
  width: 100%;
  background-color: color(red);
  text-align: center;
  justify-content: center;
  align-items: center;
  color: white;
  p {
    margin: 0;
  }
}

// image carousel
.slideshow {
  margin: 1rem;
  img {
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    width: 40rem;
    height: 20rem;
  }
}

// menu page
.menu-index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  a {
    list-style: none;
    margin: 1rem;
    font-family: 'Baloo 2', cursive;
    font-size: 1.5rem;
    font-weight: bold;
    &:hover {
      text-decoration: none;
    }
  }
  .menu {
    h4 {
      font-family: 'Berkshire Swash', cursive;
      color: color(green);
    }
  }
  .menu-nav-link {
    position: sticky;
    top: 50;
    width: 110rem;
  }
  .intro {
    width: 75rem;
  }

  .menu-container, .menu-category-container {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem auto;
    padding: 1rem;
    border: $border;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
  }
  .menu-category-container {
    width: 80rem;
  }

}

.column {
  flex-direction: column;
}

// form container
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem auto;
  padding: 2rem;
  border: $border;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  background-color: white;
  width: 50rem;
  h2 {
    text-align: center;
    color: color(green);
    font-family: 'Baloo 2', cursive;
  }
  span {
    margin: 1rem;
  }
  .button-container {
    text-align: center;
  }
}

//foods index container

.foods-index-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  flex-grow: 1;
  background-color: pink;
  h2 {
    color: color(green);
    font-family: 'Baloo 2', cursive;
  }
  .food-index-table {
    text-align: center;
    width: 50rem;
    table {
      margin: 1rem;
      box-shadow: $box-shadow;
      justify-content: center;
      align-items: center;
      text-align: center;
      background-color: white;
    }
  }
}

.customer-index-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  text-align: center;
  h2 {
    color: color(green);
    font-family: 'Baloo 2', cursive;
  }
  .customer-container {
    width: 100rem;
    margin: 0 auto;
    background-color: white;
    box-shadow: $box-shadow;
  }
}

// #admin {
//   pointer-events: none;
// }