.app-outer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.app-outer-container .app-inner-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #fbe9ca;
}

.app-outer-container .app-inner-container .sidebar,
.app-outer-container .app-inner-container .store-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
  height: 8rem;
  background-color: #912a2b;
}

.navbar a {
  color: white;
  margin: 1rem;
}

.navbar a:hover {
  text-decoration: none;
}

.navbar img {
  position: absolute;
  top: 5;
  left: 0;
  height: 7.5rem;
  width: 9rem;
}

.navbar .upper-nav,
.navbar .lower-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .upper-nav {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 4rem;
}

.navbar .lower-nav {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 4rem;
  background-color: black;
}

.navbar .lower-nav .button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 15rem;
}

.navbar .lower-nav .button-container .button {
  height: 4rem;
  cursor: pointer;
  padding: 0.5rem;
  background-color: black;
  color: white;
  font-size: 2rem;
  text-align: center;
  width: 20rem;
}

.navbar .lower-nav .button-container .button:hover {
  background-color: rgba(100, 100, 100, 0.2);
  font-size: 2.1rem;
}

.sidebar {
  width: 25rem;
  padding: 1rem;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.sidebar h4 {
  font-family: 'Berkshire Swash', cursive;
  color: #00713e;
  font-size: 2rem;
}

.sidebar h5 {
  color: #912a2b;
  font-weight: bold;
}

.sidebar h6 {
  font-weight: bold;
}

.sidebar p {
  font-size: 0.9rem;
}

.sidebar div {
  text-align: center;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: white;
  border: 1px solid #00713e;
  border-radius: 1rem;
  -webkit-box-shadow: 0rem 0.1rem 0.25rem 0rem black;
          box-shadow: 0rem 0.1rem 0.25rem 0rem black;
}

.main-content {
  width: 100%;
}

.main-content h3 {
  color: #912a2b;
  font-weight: bold;
}

.main-content h4,
.main-content h5 {
  color: #00713e;
  font-family: 'Baloo 2', cursive;
}

.main-content div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-content div iframe {
  width: 500;
  height: 500;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #912a2b;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.footer p {
  margin: 0;
}

.slideshow {
  margin: 1rem;
}

.slideshow img {
  border-radius: 1rem;
  -webkit-box-shadow: 0rem 0.1rem 0.25rem 0rem black;
          box-shadow: 0rem 0.1rem 0.25rem 0rem black;
  width: 40rem;
  height: 20rem;
}
/*# sourceMappingURL=styles.css.map */