<div class="app-outer-container">
  <%- include('../partials/header') %>
  <div class="app-inner-container">
    <div class="form-container">
      <h2>Create a Blog Post</h2>
      <form action="/blog" method="POST">
        <label class="col-12"
          >Name:
          <input type="text" name="name" />
        </label>

        <label class="col-12"
          >Description:
          <input type="text" name="description" />
        </label>
        <label class="col-12"
          >Description:
          <input type="text" name="description" />
        </label>
        <label class="col-12"
          >Description:
          <input type="text" name="description" />
        </label>
        <label class="col-12"
          >Description:
          <input type="text" name="description" />
        </label>
        <label class="col-12"
          >Description:
          <input type="text" name="description" />
        </label>

        <div class="button-container">
          <input class="btn btn-primary" type="submit" value="Submit Info" />
        </div>
      </form>
    </div>
  </div>

  <%- include('../partials/footer') %>
</div>
