<div class="app-outer-container">
  <%- include('../partials/header') %>
  <div class="app-inner-container menu-index">
    <div class="menu-container menu-nav-link">
      <a href="#starters">
        <li>Starters & Sides</li>
      </a>
      <a href="#wings">
        <li>Wings</li>
      </a>
      <a href="#salads">
        <li>Salads</li>
      </a>
      <a href="#pizzas">
        <li>Pizza & Turnovers</li>
      </a>
      <a href="#pastas">
        <li>Pastas</li>
      </a>
      <a href="#wraps">
        <li>Wraps</li>
      </a>
      <a href="#subs">
        <li>Subs</li>
      </a>
      <a href="#sandwiches">
        <li>Sandwiches</li>
      </a>
      <a href="#kids">
        <li>Kids</li>
      </a>
      <a href="#desserts">
        <li>Desserts</li>
      </a>
      <a href="#beverages">
        <li>Beverages</li>
      </a>
      <a href="#beer">
        <li>Beer & Wine</li>
      </a>
    </div>
    <div class="main-content menu">
      <h4>Menu</h4>
      <div class="menu-container">
        <h3 id="starters">Starters & Sides</h3>

        <h5>Antonelli's Sampler</h5>
        <p>13.99</p>
        <p>
          3 Buffalo wings, 3 mozzarella sticks, 3 jalapeño poppers, & 3 chicken
          tenders
        </p>

        <h5>CHEESE BREAD STICKS</h5>
        <p>5.99</p>
        <p>
          Sliced garlic bread covered with melted mozzarella cheese, & served
          with a side of marinara dipping sauce. Add Pepperoni $1.00
        </p>

        <h5>BACON CHEESE FRIES</h5>
        <p>6.49</p>
        <p>
          With bacon, mozzarella, cheddar cheese, & ranch dressing.
        </p>

        <h5>MOZZARELLA STICKS (6PCS)</h5>
        <p>5.99</p>
        <p>
          With marinara sauce.
        </p>

        <h5>TEX MEX ROLLS (6PCS)</h5>
        <p>6.49</p>
        <p>
          With bacon, mozzarella, cheddar cheese, & ranch dressing.
        </p>
        <h5>MOZZARELLA STICKS (6PCS)</h5>
        <p>5.99</p>
        <p>
          With marinara sauce.
        </p>
      </div>
    </div>
    <div class="menu-container intro">
      <h3>Welcome to Antonelli's</h3>
      <p>
        Antonelli’s, a family owned & operated establishment which opened in
        2007, prides itself in serving the finest meals using the freshest
        ingredients always; some of which include extra virgin olive oil,
        freshly sliced meats, romaine lettuce for all of our salads, and Grande©
        cheese, the most expensive cheese in the market. In addition, we provide
        our customers with very generous portions, and offer the superior
        service that you may fail to receive when ordering from a chain. "From
        our sauces, to pizza dough, to select dressings and desserts-all made
        from scratch; we offer an exceptional tasting home-made meal that’s made
        away from home."
      </p>
    </div>
    <div class="menu-container column">
      <h3>HOURS</h3>
      <h4>Sun-Thurs: 11am-10pm</h4>
      <h4>Fri & Sat: 11am-11pm</h4>
      <ul>
        <li>Last order 15 minutes before closing</li>
        <li>$10.00 minimum for delivery</li>
        <li>Delivery charge may apply</li>
      </ul>
    </div>
    <div class="menu-container column">
      <h3>Antonelli's would love to hear from you!</h3>
      <p>
        Please feel free to submit questions, compliments, suggestions, or
        complaints to antonellis-pizza@hotmail.com
      </p>
      <h5>703-690-4500</h5>
    </div>
  </div>
  <%- include('../partials/footer') %>
</div>
