<div class="app-outer-container">
    <%- include('../partials/header') %>
    <div class="app-inner-container">
      <h2>Blog Posts</h2>

    </div>
    <%- include('../partials/footer') %>
  </div>
  