<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/public/css/style.css">
    <title>Antonelli's Customer Info</title>
</head>
<body>
<h2>Enter Customer Info</h2>
<form action="/customers" method="POST">
  <label>Name:
   <input type="text" name="name">
  </label>
  <label>Phone Number:
   <input type="number" name="phone">
  </label>
  <label>Address Name:
   <input type="text" name="addressName">
  </label>
  <label>Address Type:
    <select name="addressType">
      <option value="Residence">Residence</option>
      <option value="Business">Business</option>
      <option value="Hotel">Hotel</option>
      <option value="School">School</option>
      </select>
  </label>
  <label>Address:
   <input type="text" name="location">
  </label>
  <label>Apt/Suite:
   <input type="text" name="apt">
  </label>
  <label>City:
   <input type="text" name="city">
  </label>
  <label>State:
   <input type="text" name="state">
  </label>
  <label>Zip Code:
   <input type="number" name="zip">
  </label>
  <label>Delivery Notes:
   <input type="text" name="deliveryNotes">
  </label>
  <input type="submit" value="Update Customer Info">
</form>
</body>
</html>